.p-3
  %h1= "Authors (#{@authors.count})"

  %table.table.table-striped
    %thead
      %tr
        %th Author name
        %th Phone
        %th Address
        %th Books
        %th
        %th
        %th

    %tbody
      - @authors.each do |author|
        %tr
          %td= author.author_name
          %td= author.phone
          %td= author.address
          %td= author.books_count
          %td= link_to 'Show', author
          %td= link_to 'Edit', edit_author_path(author)
          %td
            = form_tag author_path(author), method: :delete, data: { confirm: 'Are you sure?' } do
              = submit_tag 'Destroy', class: 'text-danger'
  %br
  = link_to 'New Author', new_author_path

