%p#notice= notice

%p
  %b Author name:
  = @author.author_name
%p
  %b Phone:
  = @author.phone
%p
  %b Address:
  = @author.address
%p
  %b Published books:
  = @author.published_books

= link_to 'Edit', edit_author_path(@author)
\|
= link_to 'Back', authors_path
