.p-3 
  %h1= "Books (#{@books.count})"

  %table.table.table-striped
    %thead
      %tr
        %th Title
        %th Author
        %th Published
        %th.text-center Price
        %th.text-center Sold
        %th.text-center Revenue
        %th
        %th
        %th

    %tbody
      - @books.each do |book|
        %tr
          %td= book.title
          %td= book.author.author_name
          %td= book.published_date
          %td.text-end= book.price.currency
          %td.text-end= book.sold
          %td.text-end= book.revenue.currency
          %td= link_to 'Show', book
          %td= link_to 'Edit', edit_book_path(book)
          %td= link_to 'Destroy', book, method: :delete, data: { confirm: 'Are you sure?' }

  %br

  = link_to 'New Book', new_book_path
