%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Description:
  = @book.description
%p
  %b Author:
  = link_to @book.author.author_name, author_path(@book.author)
%p
  %b Price:
  = @book.price
%p
  %b Published date:
  = @book.published_date
%p
  %b Sold:
  = @book.sold

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
